.card-container {
  height: 400px;
  width: 465px;
  background-color: white;
  border-radius: 4px;
  padding: 0 27px;
}

.card-header {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background: transparent;
  border: 0px;
}

.card-body {
  flex: 0 0 auto;
  min-height: 1px;
  padding: 0rem;
}

.card-container a {
  text-decoration: none;
  padding: 0px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  background: transparent;
  border: 0px;
}
