@import 'colors';

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
}

.nav-bar {
  height: 70px;
  width: 100%;
  background: $primary;

  .nav-item {
    list-style: none;
  }

  .nav-link {
    color: white;
  }

  .navbar-brand {
    display: flex;
    width: 200px;
    justify-content: center;
  }

  h4 {
    color: white;
    margin: 0;
    line-height: 1;
    padding-top: 10px;
  }

  button {
    background-color: $success;
  }
}

.nav-bar .black {
  background-color: black;
}
