.logo--container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.appName {
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 800;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 30px;
}

.logo img {
  margin: 0 auto;
  width: 100%;
}
